<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CasaCentralWeb</display-name>
  <welcome-file-list>
    <welcome-file>/pages/solicitud-compra/inicio-confirmar-solicitud-compra.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CompararPreciosServlet</display-name>
    <servlet-name>CompararPreciosServlet</servlet-name>
    <servlet-class>servlets.CompararPreciosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompararPreciosServlet</servlet-name>
    <url-pattern>/CompararPreciosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarSolicitudesCompraServlet</display-name>
    <servlet-name>ConfirmarSolicitudesCompraServlet</servlet-name>
    <servlet-class>servlets.ConfirmarSolicitudesCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarSolicitudesCompraServlet</servlet-name>
    <url-pattern>/ConfirmarSolicitudesCompraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompararServlet</display-name>
    <servlet-name>CompararServlet</servlet-name>
    <servlet-class>servlets.CompararServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompararServlet</servlet-name>
    <url-pattern>/CompararServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfSolServlet</display-name>
    <servlet-name>ConfSolServlet</servlet-name>
    <servlet-class>servlets.ConfSolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfSolServlet</servlet-name>
    <url-pattern>/ConfSolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarServlet</display-name>
    <servlet-name>ConfirmarServlet</servlet-name>
    <servlet-class>servlets.ConfirmarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarServlet</servlet-name>
    <url-pattern>/ConfirmarServlet</url-pattern>
  </servlet-mapping>
</web-app>