<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CasaCentralWeb</display-name>
  <welcome-file-list>
    <welcome-file>pages/menu.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CompararPreciosServlet</display-name>
    <servlet-name>CompararPreciosServlet</servlet-name>
    <servlet-class>servlets.CompararPreciosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompararPreciosServlet</servlet-name>
    <url-pattern>/CompararPreciosServlet</url-pattern>
  </servlet-mapping>
</web-app>